/* Define vars*/
:root {
	--primary-color: #fff;
	--secondary-color: #8b0000;
	--tertiary-color: black;
	--error: rgb(228, 46, 1);
	--spacing-one: calc(1rem * 0.5);
	--spacing-two: calc(1rem);
	--spacing-five: calc(2.5rem);
	--special-color: darkred;
	--cardBorderColor: #c0c0c0;
	--oxford-blue: #002147;
	--cerulean-blue: #2a52be;
	--maximum-blue-purple: #95a8e0;
	--loadMore: #7d7e7e;
	/* color pallette */
	/*
$maroon-web: #7e0000ff;
$dark-red: #8b0000ff;
$dark-red-2: #990000ff;
$oxford-blue: #002147ff;
$midnight-blue: #191970ff;
$cerulean-blue: #2a52beff;
$maximum-blue-purple: #95a8e0ff;*/
}
/* tell browser to fix box model calculations */
/* get rid of browser's margins*/
* {
	box-sizing: border-box;
}
/*setup font-style*/
html,
body,
#root {
	margin: 0;
	padding: 0px;
	min-height: 100vh;
	color: var(--tertiary-color);
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
	overflow-x: hidden;
}

#page-content-wrapper {
	min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
	margin-left: 0;
}
/*---SIDE BAR --*/
#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	transition: margin 0.5s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

.navigation h2 {
	font-weight: bold;
	margin: 0;
	color: var(--primary-color);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navigation {
	background-color: var(--secondary-color);
}

.navigation a {
	text-decoration: none;
	color: var(--primary-color);
}
/*-----------------------------*/

.width-80 {
	width: 80%;
}

col-md-4 {
	margin-bottom: 30px;
}
col-md-3 {
	margin-bottom: 40px;
}
.card {
	padding: 30px;
	border: solid 2px var(--cardBorderColor);
	cursor: pointer;
	background-color: #eee;
}
.card:hover {
	box-shadow: 0 0 12px 3px rgba(34, 33, 33, 0.08);
}
.card-title {
	margin-top: 20px;
}
.card-text {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}
.card-text .fa {
	font-size: 26px;
}
.avtar {
	margin: auto;
	width: 50%;
	border: "1px solid green";
	margin: auto;
}
.avtar img {
	border: solid 6px transparent;

	border-radius: 50%;
}
.card:hover .avtar img {
	border-color: rgb(99, 204, 131);
}

@media (min-width: 1200px) {
	.container {
		max-width: 1040px;
	}
}

.comment-header {
	color: var(--cerulean-blue);
}

.comment-btn {
	background-color: var(--cerulean-blue);
	color: white;
}
.reply-btn {
	background-color: var(--maximum-blue-purple);
	width: 100%;
}

.section-heading {
	color: var(--cerulean-blue);
	font-weight: 700;
}

/*-----------------------------*/
/* nav ul li a {
  padding: 10px 15px;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.form-control {
	width: 100%;
}

.container {
	max-width: 960px;
}

.about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #555555;
}
.about .content ul {
	list-style: none;
	padding: 0;
}
.about .content ul li {
	padding-bottom: 8px;
}

.about .content ul i {
	font-size: 16px;
	padding-right: 2px;
	color: #475cd4;
}
.about .content p:last-child {
	margin-bottom: 0;
}

.load-more-btn {
	background-color: var(--loadMore);
	border-radius: 25px;
	color: white;
}
